#bingoCard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
}

#teamColours {
    text-align: center;
    padding-bottom: 2px;
}

.teamButtons {
    width: 100px;
    height: 40px;
    padding-bottom: 3px;
    background-color: lightgray;
    border-radius: 4px;
    transition: ease-out;
    font-size: 20px;
    outline: none;
    text-align: center;
}

.bingo {
    pointer-events: none;
}

#redTeam.teamButtons {
    box-shadow: inset 0 0 0 0 red;
}

#redTeam:hover {
    box-shadow: inset 150px 0 0 0 red;
}

#redTeam.toggled {
    background-color: #ff0000;
}

#blueTeam.teamButtons {
    box-shadow: inset 0 0 0 0 blue;
}

#blueTeam:hover {
    box-shadow: inset 150px 0 0 0 blue;
}

#blueTeam.toggled {
    background-color: blue;
}

#yellowTeam.teamButtons {
    box-shadow: inset 0 0 0 0 yellow;
}

#yellowTeam:hover {
    box-shadow: inset 150px 0 0 0 yellow;
}

#yellowTeam.toggled {
    background-color: yellow;
}

#greenTeam.teamButtons {
    box-shadow: inset 0 0 0 0 green;
}

#greenTeam:hover {
    box-shadow: inset 150px 0 0 0 green;
}

#greenTeam.toggled {
    background-color: green;
}

#orangeTeam.teamButtons {
    box-shadow: inset 0 0 0 0 orange;
}

#orangeTeam:hover {
    box-shadow: inset 150px 0 0 0 orange;
}

#orangeTeam.toggled {
    background-color: orange;
}

#mainNav {
    letter-spacing: 0px;
}

#navIcons {
    text-align: left;
    float: left;
    width: 30px;
    height: 30px;
}

td {
    padding: 45px;
    border: 2px white solid;
    text-align: center;
    background-color: lightgrey;
}

td:hover {
    background-color: rgb(142, 194, 196);
}

.pageHeader {
    font-size: 20px;
    text-align: center;
    color: #C5C6C7;
    background-color: #2C2B30;
    padding: 1%;
    margin: 0%;
    letter-spacing: 5px;
}

body {
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0%;
    padding: 0%;
}

.pageFooter {
    font-size: 10px;
    text-align: right;
    color: #C5C6C7;
    background-color: #2C2B30;
    padding: 1%;
    margin: 0%;
}