#redTeam.toggled{background-color:#ff0000;}

#blueTeam.toggled{background-color: blue;}

#yellowTeam.toggled{background-color: yellow;}

#greenTeam.toggled{background-color: green;}

#orangeTeam.toggled{background-color: orange;}

#bingoCard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
    background-image: url(background.jpg);
}
#buttonWrapper{
    text-align: center;
}

.teamButtons{
   
    text-align: center;
    padding: 1em;
    margin-left:auto;
    margin-right:auto;
}
td { 
    padding: 45px;
    border: 2px white solid;
    text-align: center;
    background-color: lightgrey;
    }

#free{ background-color: #ff0000;}

td:hover{ background-color: rgb(142, 194, 196);}

.bingo {
    pointer-events: none;
}




