
#redTeam.toggled{background-color:#ff0000;}

#blueTeam.toggled{background-color: blue;}

#yellowTeam.toggled{background-color: yellow;}

#greenTeam.toggled{background-color: green;}

#orangeTeam.toggled{background-color: orange;}

#bingoCard {border-collapse: collapse;}

.teamButtons{padding: 4px;}

td { 
    padding: 2em;
    border: 2px gray solid;
    text-align: center;
    background-color: default;
    }

#free{ background-color: #ff0000;}

td:hover{ background-color: rgb(142, 194, 196);}



