#redTeam.toggled{background-color:#ff0000;}

#blueTeam.toggled{background-color: blue;}

#yellowTeam.toggled{background-color: yellow;}

#greenTeam.toggled{background-color: green;}

#orangeTeam.toggled{background-color: orange;}

#bingoCard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
    background-image: url(background.jpg);
    
    
   
}
    
div.teamButtons p {
    text-align: center;
    padding: 20px;
}
.teamButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-left: 5px;}

td { 
    padding: 45px;
    border: 2px white solid;
    text-align: center;
    background-color: lightgrey;
    }

#free{ background-color: #ff0000;}

td:hover{ background-color: rgb(142, 194, 196);}

.bingo {
    pointer-events: none;
}



